:root {
  --text-color: #eaecf0;
  --background-color: #202122;
}

body {
  font-family: system-ui;
  color: var(--text-color);
  background-color: var(--background-color);
}

@media (max-width: 1100px) {
  body {
    font-size: 11px;
  }
  button {
    font-size: 11px;

  }
}